.App{
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS4xt2Iyl8Dlj42dKayzo4QqoXPSDq4JgZHcA&usqp=CAU");
  height: max-content;
}
div.App h1{
  font-weight: 800!important;
  font-size: 10em;
  color: gold;
}
div a h1{
  color: purple!important;
  font-size: xx-large!important;
}
.App h2{
  text-align: center;
}
h1.catdesc{
  color: purple!important;
  font-size: xx-large!important;
}
h1.catfoot{
  color: purple!important;
  font-size: large!important;
  text-align: center;
}
html{
  height: 1400px;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS4xt2Iyl8Dlj42dKayzo4QqoXPSDq4JgZHcA&usqp=CAU");
}
form{
  background-color: white ;
}

img{
  width: 700px;
  height: 850px;
}

.catdesc{
  /* font-size: xx-large; */
  color: black;
  font-weight: 800;
}

h1{
  font-weight: 800;
}

.formy{
  border: .5em solid black!important;
}

.catmodal{
  text-align: center;
}